/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para la sección Acerca de mí */
#about {
    background-color: #ffcc00;
    color: #333;
}

/* Estilos para la sección Proyectos */
#portfolio {
    background-color: #3399ff;
    color: #fff;
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

/* Estilos para la sección Contacto */
#contact {
    background-color: #ff6666;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

/* Estilos para los enlaces */
a {
    color: #3399ff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffcc00;
}

/* Estilos para los botones */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ffcc00;
}
